body {
  background-color: #01c2c7;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  padding: 20px;
  height: auto;
  width: auto;
  position: relative;
  background: rgba(34, 32, 69, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(34, 32, 69, 1);
}
#billvalue {
  text-align: right;
  padding: 20px;
  font-size: 40px;
  margin-bottom: 5%;
  width: 70%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  outline: none;
  background: transparent;
  font-weight: bold;
  color: white;
}
#tipvalue {
  text-align: right;
  padding: 20px;
  font-size: 40px;
  margin-bottom: 5%;
  width: 70%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  font-weight: bold;
  outline: none;
  background: transparent;
  color: white;
}
#total {
  text-align: right;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5%;
  width: 70%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  outline: none;
  margin-top: 10%;
  background: transparent;
  color: white;
}
fieldset .first {
  position: relative;
  left: -28%;
  top: -3%;
  letter-spacing: 2px;

  color: #96eeae;
}
fieldset .second {
  position: relative;
  left: -28%;
  top: -3%;
  letter-spacing: 2px;

  color: #96eeae;
}
fieldset .third {
  position: relative;
  left: -28%;
  top: -3%;
  letter-spacing: 2px;

  color: #96eeae;
}
fieldset .fa-naira-sign {
  position: absolute;
  left: 15%;
  top: 6.5%;
  font-size: 40px;
  color: white;
}
fieldset .fa-percent {
  position: absolute;
  top: 31%;
  left: 15%;
  font-size: 40px;
  color: white;
  font-weight: bold;
}

fieldset .action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  margin-bottom: 10%;
}

fieldset .action button {
  padding: 10px;
  width: 135px;
  margin-right: 7%;
  position: relative;
  left: 10px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #96eeae;
  color: black;
  border: 1px solid #96eeae;
  letter-spacing: 2px;
}
@media (min-width: 600px) {
  fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    position: relative;

    left: 18%;
  }
  fieldset .fa-naira-sign {
    position: absolute;
    top: 5%;
    left: 15%;
  }
  fieldset .fa-percent {
    top: 28%;
  }
}
@media (min-width: 1280px) {
  fieldset {
    position: relative;
    left: 25%;
  }
  fieldset .action button {
    padding: 10px;
    width: 200px;
    margin-right: 7%;
    position: relative;
    left: 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #96eeae;
    color: black;
    border: 1px solid #96eeae;
    letter-spacing: 2px;
  }
}
